# VSIX PACKAGE ARCHIVES
packages/

# PREVIEW IMAGES & CODE SAMPLES
preview/

# TEXT FILES (COLOR PALETTES, …) IN THEME FOLDER
theme/*.txt
# OLDER THEME FILES (SPECIFIC VERSION IN FILENAME)
theme/*1.*.*.json

# GITIGNORE FILE
.gitignore
