# GitHub resources
.github/

# Preview images & code samples
assets/preview/

# VSix package archives
packages/

# Text files (color palettes, …) in theme folder
theme/*.txt
# Older theme files (specific version in filename)
theme/*1.*.*.json

# GitIgnore file
.gitignore
